/*ESTILOS*/

/*GLOBALES*/
:root {
    --negro: #000000;
    --blanco: #ffffff;
    --primario: #665924;
    --secundario: #ffde59;
    --gris: #757575;
}

html { 
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
    scroll-snap-type: y mandatory;    
}
/*Globales*/

/*CUERPO*/
.fondo {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*cuerpo*/

/*TITULO*/
.titulo{
    font-size: 6rem;
    margin: 2rem auto;
}
/*Titulo*/

/*CONTACTOS*/
.contacto{
    font-size: 2.5rem;
    margin: 1rem auto;
}

.contacto span{
    color: var(--secundario);
}

.contacto a{
    text-decoration: none;
    color: var(--secundario);
}
/*Contactos*/

/*PARRAFO*/
p{
    font-size: 1.5rem;
}
/*Parrafo*/