/*ESTILOS*/

/*GLOBALES*/
:root {
    --negro: #000000;
    --blanco: #ffffff;
    --primario: #665924;
    --secundario: #ffde59;
    --gris: #757575;
}

html { 
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
    scroll-snap-type: y mandatory;    
}
/*Globales*/

/*CUERPO*/
.fondo {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*cuerpo*/

/*FORMULARIO*/
.formulario{
    background-color: var(--primario);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    text-align: left;
}

.formulario fieldset{
    border-width: 0.5rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: var(--secundario);
}

.formulario legend{
    font-size: 3rem;
    padding: 1rem;
    color: var(--secundario);
    text-transform: uppercase;
    text-align: center;
}

.formulario label{
    font-size: 2rem;
    color: var(--secundario);
    padding: 4rem;
}

@media (max-width: 768px) { 
    .formulario {
        width: auto;
    }
}

.input-text{
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 1rem 0 1rem 4rem;
}

.boton {
    background-color: var(--secundario);
    color: var(--primario);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;    
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) { 
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.flex {
    display: flex;
}

.derecha {
    justify-content: flex-end;
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) { 
    .w-sm-100 {
        width: auto;
    }
}
/*Formulario*/
